.row {

  @include clearfix;

  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }

  @include atMedium {
    &--gutters > div {

      &:not(:last-child) {
        padding-right: 65px;
      }
    }

    &__b-margin-until-medium {
      margin-bottom: 0;
    }

    &__medium-4 {
      float: left;
      width: 33.333333%;
    }

    &__medium-4--larger {
      width: 37%;
    }
  
    &__medium-8 {
      float: left;
      width: 66.666667%;
    }

    &__medium-4--smaller {
      width: 63%;
    }
  }

}